:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.playlist {
  padding: 20px;
}

.content-container {
  display: flex;
}

main {
  width: 75%;
  background: lightskyblue;
}

.sidebar {
  width: 25%;
  background: lightgreen;
}

.current-video-title {
  margin-bottom: 20px;
  background: lightgoldenrodyellow;
}

.video-player-container {
  width: 75%;
  height: 50vh;
  background: darkmagenta;
  color: white;
  position: relative;
}

.video-player-container button {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
  background: darkgoldenrod;
}

.active-item {
  background: gold;
  color: blue;
  font-weight: bold;
}